@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

:root {
  --sl-content-width: 60rem;
  --sl-text-5xl: 4rem;
}

.inline-block {
  display: inline-block;
  vertical-align: middle;
}

hr {
  border-bottom-color: color-mix(
    in oklab,
    var(--sl-color-accent) 70%,
    transparent
  );
}

table thead th {
  border-bottom: 1px solid
    color-mix(in oklab, var(--sl-color-accent) 60%, transparent);
}
