@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

:root {
  --sl-content-width: 60rem;
  --sl-text-5xl: 4rem;
  --color-primary: var(--sl-color-accent);
}

@theme inline {
  --color-primary: var(--color-primary);
}

.inline-block {
  display: inline-block;
  vertical-align: middle;
}

hr {
  border-bottom-color: color-mix(in oklab,
      var(--sl-color-accent) 70%,
      transparent);
}

small {
  opacity: 0.8;
}

table thead th {
  border-bottom: 1px solid color-mix(in oklab, var(--sl-color-accent) 60%, transparent);
}