@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

:root {
  --sl-content-width: 60rem;
  --sl-text-5xl: 4rem;
  --color-primary: var(--sl-color-accent);
}

@theme inline {
  --color-primary: var(--color-primary);
}

.inline-block {
  display: inline-block;
  vertical-align: middle;
}

hr {
  border-bottom-color: color-mix(
    in oklab,
    var(--sl-color-accent) 70%,
    transparent
  );
}

small {
  opacity: 0.8;
}

table thead th {
  border-bottom: 1px solid
    color-mix(in oklab, var(--sl-color-accent) 60%, transparent);
}

code[dir="auto"]:hover {
  /* brigthen background color by 20% */
  background-color: color-mix(
    in oklab,
    white 20%,
    var(--sl-color-bg-inline-code)
  );
  cursor: pointer;
}

/* This needs to be in here because it somehow doesn't apply when in the component */
div[data-type="image-wrapper"] img {
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  height: 100%;
  display: block;
  object-fit: cover;
  transition: transform 0.3s ease;
}
