<div class="flex gap-2 leading-6 text-nowrap">
  <a
    href="https://ticketon.app/login"
    target="_blank"
    class="flex items-center justify-center rounded-sm p-2 font-medium text-slate-800 dark:text-gray-300 no-underline hover:opacity-75 hover:underline underline-offset-4"
  >
    Dashboard
  </a>
  <a
    href="https://ticketon.app/unlimited"
    target="_blank"
    class="flex items-center justify-center rounded-sm p-2 font-medium text-slate-800 dark:text-gray-300 no-underline hover:opacity-75 hover:underline underline-offset-4"
  >
    Unlimited
  </a>
  <a
    href="/legal/terms"
    class="flex items-center justify-center rounded-sm p-2 font-medium text-slate-800 dark:text-gray-300 no-underline hover:opacity-75 hover:underline underline-offset-4"
  >
    Legal
  </a>
</div>
