<div class="flex gap-2 leading-6 text-nowrap">
  <a
    href="https://ticketon.app/login"
    class="hover:bg-gray-0 flex items-center justify-center rounded-sm p-2 font-medium text-black no-underline hover:shadow-md"
  >
    Dashboard
  </a>
  <a
    href="https://ticketon.app/unlimited"
    class="hover:bg-cl1-gray-0 flex items-center justify-center rounded-sm p-2 font-medium text-black no-underline hover:shadow-md"
  >
    Unlimited
  </a>
  <a
    href="https://docs.ticketon.app/legal/terms"
    class="hover:bg-cl1-gray-0 flex items-center justify-center rounded-sm p-2 font-medium text-black no-underline hover:shadow-md"
  >
    Legal
  </a>
</div>
