---
interface Props {
  size?: "sm" | "md" | "lg" | "xl" | "full";
}

const { size = "md" } = Astro.props; // Default width for optimization

const sizeClasses = (_size: Props["size"] = "md") =>
  ({
    sm: "max-w-sm",
    md: "max-w-md",
    lg: "max-w-lg",
    xl: "max-w-xl",
    full: "max-w-full",
  })[_size];
---

<div
  class={`mx-auto overflow-clip image-wrapper ${sizeClasses(size)}`}
>
  <slot />
</div>

<style>
  .image-wrapper img {
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
</style>
